<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.owner }}">
  <meta name="robots" content="index, follow">

  <title>EK Keramik – Håndlavet keramik af Eva Kobel, Fyn</title>

  <!-- Canonical URL -->
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <!-- Language -->
  <link rel="alternate" hreflang="da" href="{{ site.url }}{{ page.url }}">

  <!-- Geo -->
  <meta name="geo.region" content="DK-83">
  <meta name="geo.placename" content="Assens">
  <meta name="geo.position" content="55.32779;9.93626">
  <meta name="ICBM" content="55.32779, 9.93626">

  <!-- Open Graph -->
  <meta property="og:title" content="EK Keramik – Håndlavet keramik af Eva Kobel, Fyn">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="{{ site.url }}/img/haandlavede-keramik-skaale.jpg">
  <meta property="og:locale" content="da_DK">
  <meta property="og:site_name" content="EK Keramik">

  <!-- Structured Data -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "EK Keramik",
    "description": "Håndlavet keramik af Eva Kobel. Skåle, kander, tallerkner og skulpturer i enkle former og klare farver.",
    "url": "https://ekkeramik.dk",
    "image": "https://ekkeramik.dk/img/haandlavede-keramik-skaale.jpg",
    "telephone": "+45 2946 7904",
    "email": "evakobel7@gmail.com",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Torupvej 7, Sandager",
      "addressLocality": "Assens",
      "postalCode": "5610",
      "addressCountry": "DK"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 55.32779,
      "longitude": 9.93626
    },
    "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "description": "Åbent efter aftale"
    },
    "sameAs": [
      "https://www.instagram.com/evakobel",
      "https://www.facebook.com/eva.kobel.3/?locale=da_DK"
    ]
  }
  </script>

  <!-- Favicon (SVG adapts to light/dark mode) -->
  <link rel="icon" type="image/svg+xml" href="img/favicon.svg">
  <link rel="icon" type="image/png" href="img/favicon.png">

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/stylish-portfolio.css" rel="stylesheet">

  <!-- Preconnect & Custom Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css">

  <!-- Preload hero background -->
  <link rel="preload" href="img/farverige-keramik-kander.webp" as="image" type="image/webp">

</head>