{% assign section = site.sections | where: "slug", "kontakt" | first %}
<section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>{{ section.title }}</h2>
        <p class="lead">{{ section.lead }}</p>
        <p class="lead">{{ section.intro }}</p>
        <form action="{{ section.form_action }}" method="POST">
          <input type="hidden" name="_subject" value="{{ section.form_subject }}">
          <div class="form-group">
            <label for="name">Navn</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" name="_replyto" required>
          </div>
          <div class="form-group">
            <label for="phone">Telefon</label>
            <input type="tel" class="form-control" id="phone" name="phone">
          </div>
          <div class="form-group">
            <label for="message">Besked</label>
            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
          </div>
          <button type="submit" class="btn btn-dark">Send besked</button>
        </form>
        <div style="margin-bottom: 2rem;"></div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
