<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >EK Keramik</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Top</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); >Om Eva Kobel</a>
    </li>
    <li>
      <a href="#portfolio" onclick = $("#menu-close").click(); >Portfolio</a>
    </li>
    <li>
      <a href="#udstilling-og-salg" onclick = $("#menu-close").click(); >Udstilling og salg</a>
    </li>
    <li>
      <a href="#vaerksted" onclick = $("#menu-close").click(); >Åbent værksted</a>
    </li>
    <li>
      <a href="#udstillinger" onclick = $("#menu-close").click(); >Tidligere udstillinger</a>
    </li>
    <li>
      <a href="#contact" onclick = $("#menu-close").click(); >Kontakt</a>
    </li>
  </ul>
</nav>
