<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Eva Kobel</h2>
        <p class="lead">Billedkunst og musik har fulgt mig hele livet. Form og farve for øjet - og øret! Rytmer, linjer
          og retninger. Skulpturer har jeg også lavet i gips og beton, men i de senere år er jeg blevet dybt fanget af
          det brændte ler. Den alkymistiske proces fra det brune mudder til de stramme former med masser af klare
          farver. Og meditationen ved drejeskiven, stilheden og katten der lægger sig ved siden af og følger
          processen.... det er helt vidunderligt!



          Jeg er optaget af enkle former og klare farver. Det ligefremme, - ikke så meget pynt!

          Det handler oftest om det der er indeni. Æskerne er til det private, det hemmelige rum - eller det farverige
          rum vi lukker op for ved særlige lejligheder....</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>