{% assign section = site.sections | where: "slug", "om" | first %}
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>{{ section.title }}</h2>
        <div class="row">
          <div class="col-lg-8">
            <div class="lead">
            {{ section.content }}
            </div>
          </div>
          {% if section.image %}
          <div class="col-lg-4 text-center">
            <img src="{{ section.image }}" alt="{{ section.title }}" class="section-image">
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>