<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Our Work</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/ek1.jpg">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/ek2.jpg">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/ek3.jpg">
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/ek4.jpg">
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="https://www.instagram.com/evakobel" class="btn btn-dark"><i class="fa fa-instagram"></i> Se mere på Instagram</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
