<section id="udstilling-og-salg" class="udstilling-og-salg">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Udstilling og salg</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-4">
            <div class="salg-item">
              <strong><a href="https://www.sanderumgaard.dk/marked" target="_blank">Forårsmarked Sanderumgaard</a></strong>
              <span>Søndag d. 3. maj 2026 kl. 10–16</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="salg-item">
              <strong><a href="https://www.clausholm.dk/events/store-bagedage-til-clausholm-foraarsmarked/" target="_blank">Forårsmarked Clausholm</a></strong>
              <span>Lørdag–søndag d. 16.–17. maj 2026 kl. 10–16</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="salg-item">
              <strong><a href="https://langesoe.dk/marked-messe/" target="_blank">Forårsmarked Langesø</a></strong>
              <span>Søndag d. 31. maj 2026 kl. 10–16</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="salg-item">
              <strong><a href="https://torupbakkegaard.dk/gaardbutikken/" target="_blank">Torup Bakkegård – gårdbutik</a></strong>
              <span>Udstiller fra påske til jul.<br>
              Skåle · kander · tallerkner<br>
              Middelfartvej 105, 5610 Assens</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
