<section id="vaerksted" class="vaerksted">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Åbent værksted – Workshop</h2>
        <p class="lead">Ro i kroppen og ler i hænderne!</p>
        <p class="lead">Kursus i ler – formgivning og teknikker.<br>
        Modellere, dreje og pladeteknik.</p>
        <p class="lead">Onsdage og torsdage kl. 19.00–21.30<br>
        Torsdag formiddage kl. 10.00–12.30<br>
        Hyggeligt privat værksted, max 5 pr. hold.<br>
        1450,- for 8 gange + materialer og brænding.<br>
        Torupvej 7, Sandager, 5610 Assens.</p>
        <p class="lead">Kurserne administreres af <a href="https://verninge.husflid.dk/kurser?sted=Keramikv%C3%A6rkstedet%20Sandager" target="_blank">Verninge Husflid</a><br>
        Kontakt mig hvis du vil være med!</p>
        <p class="lead">Daghold formiddage eller eftermiddage og familie-dage (børn med voksne) kan etableres, hvis der er interesse.<br>
        Kontakt mig for dato og pris!</p>
        <a href="https://verninge.husflid.dk/kurser?sted=Keramikv%C3%A6rkstedet%20Sandager" target="_blank" class="btn btn-light">Se kurser</a>
      </div>
    </div>
  </div>
</section>
