{% assign section = site.sections | where: "slug", "vaerksted" | first %}
<section id="vaerksted" class="vaerksted">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>{{ section.title }}</h2>
        <div class="row">
          <div class="col-lg-8">
            <div class="lead">
            {{ section.content }}
            </div>
            <a href="{{ section.cta_url }}" target="_blank" rel="noopener noreferrer" class="btn btn-light">{{ section.cta_text }}</a>
          </div>
          {% if section.image %}
          <div class="col-lg-4 text-center">
            <img src="{{ section.image }}" alt="{{ section.title }}" style="max-width: 100%; max-height: 400px; object-fit: cover; border-radius: 4px;">
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
